* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: #f5f7f8;
  padding: 20px;
}
.header {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.vertical-line {
  border-left: 1px solid black; /* Adjust the color and thickness as needed */
  height: 50px; /* Adjust the height of the line as needed */
  margin: 0 10px; /* Adjust the margin to control the space between the line and the text/icon */
}
.buttons {
  padding: 2px;
  border-radius: 3px;
  border-color: transparent;
  width: 200px;
  height: 30px;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.buttons-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}
.search-input {
  padding: 2px;
  border-radius: 3px;
  width: 200px;
  border-color: gray;
  height: 30px;
}
.break-style {
  margin-top: 6px;
  color: #e5eedc;
}
