* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f7f8;
  padding: 20px;
}
.header {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  height: 100vh;
}

.vertical-line {
  border-left: 1px solid black;
  height: 50px;
  margin: 0 10px;
}
.buttons {
  padding: 2px;
  border-radius: 3px;
  border-color: transparent;
  width: 200px;
  height: 30px;
  cursor: pointer;
}
.header-buttons {
  display: flex;
  gap: 6px;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}
.search-input {
  padding: 2px;
  border-radius: 3px;
  width: 200px;
  border-color: #eeeeeb;

  outline-color: #f5f7f8;
  height: 30px;
}
.break-style {
  margin-top: 6px;
  color: #e5eedc;
}
.new-note-input {
  display: block;
  border: transparent;
  width: 100%;
  outline: none;
  font-size: large;
  padding: 10px;
}

.form-inputs {
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.new-notes {
  display: flex;
  flex-direction: column;
}
.all-notes {
  display: flex;
  flex-direction: column;
}

.note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.break-style {
  color: #e5eedc;
}
.save-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin: 20px;
}
.p {
  margin-top: 60px;
  font-size: 22px;
  color: #868984;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 20px;
  font-family: sans-serif;
  color: gray;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
.delete-button {
  background-color: red;
  display: flex;
  align-items: center;
  width: 150px;
  padding: 10px;
  margin-top: 60px;
}
